# 01.intro

## shortcut

- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple 대소문자 주의
2. git add. / git add . 띄어쓰기 주의
3. message /  massage 영어 철자 주의

# 01. 변수

```
var_name = value
```

- 변수이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자, _를 이용해서 선언
- 키워드는 불가능

In [4]:
a = 100

In [6]:
a

100

In [8]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [10]:
seoul_dust_rate = 150

## 1.1 number

In [13]:
a = 10000

In [15]:
a

10000

In [17]:
type(a)

int

In [18]:
b = 1.1

In [20]:
b

1.1

In [22]:
type(b)

float

In [25]:
c = 1 +1j

In [27]:
c

(1+1j)

In [29]:
type(c)

complex

## 1.2 boolean

In [33]:
a = True

In [35]:
a

True

In [37]:
type(a)

bool

In [39]:
b = False

In [41]:
b

False

## 1.3 string
- 문자열 `'`, `"`를 이용하여 표현

In [43]:
a = 'hello'

In [45]:
b = "hi"

In [47]:
b

'hi'

In [56]:
print('hello my name is "yerin"') # 강조 할 때 "''" or '""'

hello my name is "yerin"

In [64]:
print('hello\n my name is \'yerin\'') #\를 이용한 한 줄 띄어쓰기와 강조

hello
 my name is 'yerin'

In [66]:
a = '''
hello 
world 
hi
'''
# ''' 세개로 안에 있는 단어들 다 띄어쓰기

In [67]:
a

'\nhello \nworld \nhi\n'

In [78]:
a = 10
b = '홍길동은 a살입니다.'

# string interpolation

- %-formating
- str,format()
- f_string

In [79]:
age = 10

In [82]:
print('홍길동은 %s살입니다' %age) #오래된 문법이지만 읽을 수 있게

홍길동은 10살입니다

In [84]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 10살입니다.

In [86]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

## 02.연산자

### 2.1산술연산자

In [94]:
a = 5
b = 2

In [95]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
3
10
2.5

In [98]:
print(a ** b)
print(a // b) # 나머지의 몫만 표시하기 
print(a % b) # 나머지만 표시하기

25
2
1

In [103]:
result = divmod(a, b) #나눗셈 도구, a//b 몫과 나머지가 나옴
print(result)

(2, 1)

## 2.2 비교연산자

In [107]:
a = 5
b = 10

In [112]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [115]:
print(a == b) # 같나요
print(a != b) # 다르나요

False
True

In [117]:
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

## 2.3 논리연산자
- and : 양쪽 모두 True 일때, True를 반환 
- or  : 양쪽 모두 False 일때, False를 반환
- not : 상태를 부정 # T>F F>T

In [118]:
print(True and True)
print(False and False)
print(True and False)
print(False and True)

True
False
False
False

In [119]:
print(True or False)
print(True or True)
print(False or False)
print(False or True)

True
True
False
True

In [120]:
a = True
print(not a)

False

In [126]:
# 단축평가
print(3 and 5) # 3은 T로 추정 T and T는 T
print(3 and 0) # 3은 T, 0은 F T and F는 F
print(0 and 5)
print(0 and 0)

5
0
0
0

In [129]:
print(3 or 5) # T or T =T
print(3 or 0) # T or F =T
print(0 or 5) # F or T =T
print(0 or 0) # F or F =F

3
3
5
0

## 2.4 복합 연산자

In [157]:
a = 2
b = 3

In [138]:
a = a + b
a = a - b
a = a * a
a = a / b

In [141]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

## 2.5 기타연산자

In [163]:
a = 'hi'
b = 'hello'

In [167]:
#concatenation 
print(a + b)

hihello

In [169]:
a = [1, 2, 3]
b = [2, 3, 4]

In [171]:
print(a + b)

[1, 2, 3, 2, 3, 4]

In [174]:
print(1 in a) # 1 이라는 데이터가 a에 포함되어있나요
print(10 in a) # 10이라는 데이터가 a에 포함되어있나요

True
False

In [181]:
a = 100
b = 100

In [189]:
print(a == b)
print(a is b)
# ==은 a와 b값이 같은지 비교
# is는 a와 b가 같은 객체인가 비교, a가 삼겹살 1이라고 생각 b가 삼겹살2라고 생각 그러면 a와 b는 데이터값은 같지만 같은
#고기라고 볼 수 없음
# 5 ~ 256까지는 같은 객체라고 생각함, 257부터는 같은 객체라고 생각 하지 않음

True
True

### 연산자 우선순위
0. ()를 통해서 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [192]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

# 3. 형변환

## 3.1 암시적 형변환

In [198]:
a = True # T = 1
b = False # F = 0
c = 1

In [197]:
print(a + b)
print(a + c)

1
2

## 3.2 명시적 형변환
- int()
- float()
- str()
- bool()

In [199]:
a = 1
b = '반'

In [200]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [202]:
print(str(a) + b)

1반

In [207]:
a = '3'
print(type(a))
print(int(a))

b = int(a)
print(b)
print(type(b))

<class 'str'>
3
3
<class 'int'>

In [208]:
c = 'apple'
d = int(c) # 숫자로 바꿀 수 있는 형태만 가능

ValueError: invalid literal for int() with base 10: 'apple'

In [214]:
a = 1
b = 0
c = -123
print(bool(a)) 
print(bool(b))
print(bool(c))
# 0만 빼고 데이터가 있다고 인식

True
False
True

In [213]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

# 4. 시퀀스 자료형
 - 시퀀스는 데이터의 **순서대로** 나열된 자료구조 (순서대로 나열되었다는 것은 정렬된것과 다르다)

1. List
2. Tuple
3. Range
4. String

## 4.1 List(리스트, 배열)
- 선언 : `var_name = [value1, value2, value3, ...]`
- 숫자는 항상 0부터 시작
- 접근 : `var_name[index]`

In [2]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [5]:
location = ['서울', '대전', '부산']
print(location)
print(location[0])


location[1] = '대구'
print(location)

['서울', '대전', '부산']
서울
['서울', '대구', '부산']

## 4.2 Tuple(튜플)
- 선언 : `var_name = (value1, value2, value3, ...)`
- 접근 : `var_name[index]`
- **수정 불가능 (immutable)**

In [6]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

('서울', '대전', '대구')
서울

In [7]:
location[2] = '부산'

TypeError: 'tuple' object does not support item assignment

In [11]:
result = divmod(5,2)
print(result)
print(type(result))
# 계산하는 영역은 바꿀 수 없음 = tuple

(2, 1)
<class 'tuple'>

In [12]:
x = 1
y = 2

(x,y) = (y,x)
print(x,y)

2 1

## 4.3 Range
- range(n) : 0부터 n-1까지 범위
- range(n,m) : n부터 m-1까지 범위 
- range(n, m, s) : n부터 m-1까지 s만큼 증가하는 범위

In [14]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [16]:
lotto = range(1,46)
print(lotto)
print(list(lotto))

range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [18]:
even = range(2, 20, 2)
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [19]:
numbers = range(0, -20, -2)
print(list(numbers))

[0, -2, -4, -6, -8, -10, -12, -14, -16, -18]

## 4.4 String
- 기본 데이터 구조 참고

## 4.5 시퀀스에서 활용가능한 연산/함수

In [21]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [22]:
# INDEXING
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [25]:
# slicing
# var_name[index1:index2]
print(my_list[2:5])
print(my_tuple[2:5])
print(my_range[2:5])
print(my_string[2:5])
# 2번째 부터 5번째 미만까지

['c', 'd', 'e']
(8, 9, 10)
range(2, 5)
다라마

In [27]:
# 인덱스_생략
print(my_list[0:])
print(my_list[3:])
print(my_list[:3])

['a', 'b', 'c', 'd', 'e']
['d', 'e']
['a', 'b', 'c']

In [28]:
# 음수 인덱스 (파이썬만 가능)
print(my_list[-1])
print(my_list[-3:-1])

e
['c', 'd']

In [32]:
# step
print(my_list[:])
print(my_list[::2]) # : =step

['a', 'b', 'c', 'd', 'e']
['a', 'c', 'e']

In [38]:
# in
print(1 in my_list)

print('a' in my_list)

print('a' not in my_list) # not in도 가능

print('z' not in my_list)

False
True
False
True

In [41]:
# concatennation (연결)
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3)) # tuple에 인덱스[]를 더하면 안됨 tuple은 ()

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]
(6, 7, 8, 9, 10, 1, 2, 3)

In [44]:
# *
print(my_list * 2) # 두번 반복 출력 (연결을 두번 했다고 생각)
print('a' * 5) # 연결을 다섯번 했다고 생각

# [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print([0] * 10)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
aaaaa
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [45]:
# 가장 많이 쓰는 함수들
len(my_list) # 길이

5

In [46]:
max(my_list) # 가장 큰 값 출력

'e'

In [48]:
min(my_list) # 가장 작은 값 출력

'a'

# 5. 시퀀스형이 아닌 자료구조

## 시퀀스는 순서가 핵심 > 시퀀스형이 아니라는것은 순서가 없다는것

## 5.1 Set 
- 수학에서의 집합과 비슷한 개념 (중복값이 없음)

- 선언 : `var_name = {value_1, value_2, value_3, ...}`

In [52]:
my_set_a = {1, 2, 3, 4, 5, 5, 5, 5}
my_set_b = {1, 3, 5, 7, 9}

In [54]:
print(my_set_a) #중복을 허용하지 않기 때문에 숫자 5가 중복돼도 하나만 출력
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [57]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b) # 더하는 기능은 +가 아니라 |로 (합집합)
print(my_set_a & my_set_b) # 교집합 기능

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [59]:
location = ['서울', '대전', '청주', '부산', '강릉', '대전', '청주', '부산', '강릉', '대전', '청주', '부산', '강릉', '대전', '청주', '부산', '강릉' ]
print(set(location)) # 순서는 랜덤으로, 교집합으로 출력

{'강릉', '서울', '청주', '부산', '대전'}

## 5.2 dictionary 
- 선언 : `var_name = {key1: value1, key2: value2, key3: value3, ... }    # key1: value1가 한덩어리`
- 접근 : `var_name[key]`
- key에는 대부분 str
- 접근 할 때는 항상 key값을 중심으로

In [60]:
my_dict = {'서울': '02', '경기': '031'} 
print(my_dict['서울'])

02

In [61]:
my_info = {
    'name': 'yerin',
    'location': 'seoul',
    'age': 28,
    'skill': ['python', 'git']    
}

In [72]:
print(my_info['name'])
print(my_info['age'])
print(my_info['skill'][1]) # git을 보고싶을 때 끊어서 생각하기 skill먼저 > git의 인덱스 번호 생각

yerin
28
git

**데이터 타입**
1. number
2. boolean
3. string

**자료구조**
- 시퀀스
1. [list] : mutable
2. (tuple) : immutable
3. range() : immutable
4. 'string' : immutable # 전체를 바꾸는건 가능하지만 일부를 변경하는것은 불가능 ) h -> a (x), hi -> hello (o)

- 시퀀스가 아닌 것
1. {Set} : mutable
2. {dict: ionary} : mutable