# 자료구조
> 여러가지 자료구조가 가지고 있는 메소드(함수) 알아보기

In [4]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## 문자열 메소드

In [7]:
a = 'hello my name is hong'

In [9]:
print(a)

hello my name is hong

In [11]:
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [14]:
a.capitalize() # 대문자로 바꾸기 a.은 a안에 들어있는 함수를 capitalize

'Hello my name is hong'

In [18]:
 'hello my name is hong'.capitalize() # 시작 글자만 대문자로 바꾸기, 데이터가 바뀌는건 아니고 return이 되는거임

'Hello my name is hong'

In [20]:
a.title() #각각의 시작되는 단어를 대문자로 바꾸기

'Hello My Name Is Hong'

In [24]:
a.lower() # 모든 문자를 소문자로 바꾸기

'hello my name is hong'

In [25]:
a.upper() # 모든 문자를 대문자로 바꾸기

'HELLO MY NAME IS HONG'

In [32]:
my_list = ['my', 'name', 'is']
'!'.join(my_list) # join은 ()에 ''를 하나로 합치다

'my!name!is'

In [33]:
'?'.join('배고프다')

'배?고?프?다'

In [37]:
a = '              hello           \n'
print(a)
print(len(a))
# 문자열 중간에 공백을 없애는게 가장 중요

              hello

31

In [40]:
a.strip() # 좌우에 공백을 없애 줌 그리고 \t \n도 지워줌

'hello'

In [44]:
a = '!!!!!!!!hello?????????'
a.strip('!') # ()안에 내가 원하는 문자를 지우고싶으면 ()에 포함하면 됨

# def strip(char=' ')

'hello?????????'

In [48]:
a = '------------hello--------'
a.lstrip('-') # lstrip은 l왼쪽에 있는 글자만 지우기
a.rstrip('-') # rstrip 은 r오른쪽에 있는 글자만 지우기

'------------hello'

In [54]:
a = 'wooooooow'
a.replace('o', '!', 3) # 바꾸는 함수 두개의 정보가 필요함 (바꾸는 함수, 바꿀함수) 3은 앞에서부터 몇번 바꿀지 결정

'w!!!oooow'

In [61]:
a = 'apple'
a.find('a') # 0이 나옴
a.find('l') # 3이 나옴(인덱스 번호)
a.find('p') # 1이 나옴 (맨 처음 번호)
a.find('z') # -1이 나옴(없다는 뜻)

-1

In [64]:
a = 'apple'
a.index('a')
a.index('l')
# a.index('p') ## 여기까지는 find와 똑같음
# a.index('z') # 이건 오류가 남 왜냐면 index는 내가 찾는 코드가 없으면 코드를 종료시킴

3

In [68]:
a = 'my name is hong'
a.split() # 띄어쓰기 기준으로 다 잘라줘서 결과를 list로 만들어서 사용자에게 보여줌

['my', 'name', 'is', 'hong']

In [72]:
a = 'my!name!is?hong'
a.split('!')

['my', 'name', 'is?hong']

In [74]:
a = 'woooooooooow'
a.count('o') # o가 몇개인지 세는 함수

10

In [76]:
# 메소드는 외워서 하기보다는 필요하면 검색해서 찾아보기

# 리스트 메소드

In [79]:
numbers = [1, 2, 3, 7 ,9, 77, 456]

In [87]:
numbers.append(10)
print(numbers) # 10을 추가하는 메소드 (하나의 데이터를 추가할때)

[1, 2, 3, 7, 9, 77, 456, 10, 10, 10, 99, 100, 99, 100, 10]

In [84]:
a = [99, 100]

In [86]:
numbers.extend(a) # 여러개의 데이터를 추가할때 > numbers + a
print(numbers)

[1, 2, 3, 7, 9, 77, 456, 10, 10, 10, 99, 100, 99, 100]

In [91]:
numbers.insert(3, 55) # 3번째에 숫자 55 집어넣기
print(numbers)

[1, 2, 3, 55, 55, 55, 7, 9, 77, 456, 10, 10, 10, 99, 100, 99, 100, 10, 5]

In [97]:
# 첫번쨰 x를 찾아서 제거, 없으면 오류
numbers.remove(55) # 55을 지우는 메소드
print(numbers)

[1, 2, 55, 7, 9, 77, 456, 10, 10, 10, 99, 100, 99, 100, 10, 5]

In [100]:
numbers.pop() # 맨마지막 데이터를 지울 때 사용
print(numbers)

[1, 2, 55, 7, 9, 77, 456, 10, 10, 10, 99, 100, 99]

In [102]:
numbers.pop(0) # 맨 앞의 데이터 삭제
print(numbers)

[55, 7, 9, 77, 456, 10, 10, 10, 99, 100, 99]

In [105]:
numbers.sort() # 오름차순으로 정렬
print(numbers)

[7, 9, 10, 10, 10, 55, 77, 99, 99, 100, 456]

In [107]:
numbers.sort(reverse=True) # 역순으로 만들기
print(numbers)

[456, 100, 99, 99, 77, 55, 10, 10, 10, 9, 7]

In [110]:
print(sorted(numbers)) # sorted는 원본을 바꾸지 않음
print(numbers) # sort는 원본을 바꿈 위에 그래도 출력

[7, 9, 10, 10, 10, 55, 77, 99, 99, 100, 456]
[456, 100, 99, 99, 77, 55, 10, 10, 10, 9, 7]

In [111]:
a = [4, 5, 8, 7, 6, 12]
print(sorted(a))
print(a)

[4, 5, 6, 7, 8, 12]
[4, 5, 8, 7, 6, 12]

In [113]:
my_list = ['a', '히', 'e','가', 'o', 'b', 'z']
my_list.sort()
print(my_list)

['a', 'b', 'e', 'o', 'z', '가', '히']

In [115]:
print(numbers)
numbers.reverse() # 정렬이 되어있지 않아도 정렬 할 수 있음 (45445121) > (12154454)
print(numbers)

[7, 9, 10, 10, 10, 55, 77, 99, 99, 100, 456]
[456, 100, 99, 99, 77, 55, 10, 10, 10, 9, 7]

In [116]:
numbers.count(10)

3

### list copy

In [123]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [124]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [127]:
copy_list[0] = 100
print(origin_list) # origin_list만 바꿔도 copy_list도 바뀜
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [130]:
# python tutor 돌려보기
origin_list = [1, 2, 3]
copy_list = origin_list
copy_list[0] = 100
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [135]:
origin_list = [1, 2, 3]
copy_list = origin_list[:] # ? 먼소리임..., 

copy_list[0] = 100

print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [136]:
o_l = [1, 2, [10, 11]]
c_l = o_l[:]

c_l[0] = 100
c_l[2][0] = -10

print(o_l)
print(c_l)

[1, 2, [-10, 11]]
[100, 2, [-10, 11]]

In [141]:
# 원본은 바꾸지 않고 복사본만 바꾸고 싶을 때
import copy 
o_l = [1, 2, [10, 11]]
c_l = copy.deepcopy(o_l)

c_l[0] = 100
c_l[2][1] = -11

print(o_l)
print(c_l)

[1, 2, [10, 11]]
[100, 2, [10, -11]]

## list comperhension

In [142]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [145]:
result = []

for number in numbers:
    temp = number ** 3
    result.append(temp)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [148]:
result = [number ** 3 for number in numbers] # for문을 기준으로 앞 뒤로 나눠서 
# result = [number1 ** 3, number2 ** 3,...]
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [151]:
# 짝수만 고르기
numbers = list(range(1, 31))
print(numbers)

result = []
for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [155]:
numbers = list(range(1, 31))

result = [number * 2 for number in numbers if number % 2 ==0]
          #3번째로 실행 | for문이 1번쨰로 실행| if문이 2번쨰로 실행
print(result)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60]

In [157]:
# 연습문제 모음제거
words = 'my name is hong'

# = > my nm s hng ae i o

In [200]:
# 1. for / if

# for word in words:
#     if word in ['a', 'e', 'i','o','u']:
#          words.strip('a')

# print(words)

vowels = ['a', 'e', 'i', 'o', 'u']
result = []
for char in words:
    if char in ['a', 'e', 'i', 'o', 'u']:
        pass
    else:
        result.append(char)  # 자음만 꺼내기

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [205]:
vowels = ['a', 'e', 'i', 'o', 'u']
result = [] # 데이터를 초기화 해놓고 밑에서 반복문을 거치면서 데이터를 하나하나 쌓는 느낌
for char in words:
    if char not in ['a', 'e', 'i', 'o', 'u']:   #aeiou로 대체도 가능
        result.append(char)  # 자음인 경우
    else:
        pass
          # 자음만 꺼내기

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [ ]:
# 문자열을 제거하긴 어려우니깐 대신 꺼내는 느낌으로

In [208]:
# 2. list comperhensive

result = [word for word in words if word not in ['a', 'e', 'i','o', 'u']]

print(result)
print(''.join(result)) # 빈 문자열 ('')을 기준으로 이어붙이기

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [222]:
words = 'my name is hong'
result = []
for word in words:
    if word in ['a', 'e', 'i','o','u']:
         result = words.strip('a') # 처음에 result - list였지만 여기서 문자열로 바뀌면서 list가 깨지게 됨

print(result)

my name is hong

In [1]:
# 3. replace 메소드
vowels = 'aeiou'
# 문자열(str)은 replace()나 strip()을 써도 원본이 변경되지 않고 새로운 문자열을 반환해.
for char in vowels:  
    # words.replace(char, '') # replace는 str 원본에 영향을 주지 않기 때문에 다시 저장해야 함
       words = words.replace(char, '')
print(words)

NameError: name 'words' is not defined

## dictionary 메소드

In [9]:
info = {
    'name': 'hong',
    'location': 'seoul',
    'age': '20',
    'phone_book': {
        'kim': '010-1234-5678',
        'park': '010-4567-8978'
    },
    'models': ['iphone', 'ipad'],

    
}

In [16]:
print(info['name'])
print(info['age'])
print(info['phone_book']['park']) # dict안에 dict 찾기
print(info['models'][1]) # list여서 인덱스 접근을 해야함

lee
20
010-4567-8978
ipad

In [15]:
info['name'] = 'lee' # hong 이름을 lee로 바꾸기

In [18]:
info.update(name='chio') # update 메소드
print(info) # 이름을 choi로 바뀜

{'name': 'chio', 'location': 'seoul', 'age': '20', 'phone_book': {'kim': '010-1234-5678', 'park': '010-4567-8978'}, 'models': ['iphone', 'ipad']}

In [23]:
# info.pop() # dict는 순서가 없기 때문에 pop을 쓸 수가 없음 (pop은 맨 끝을 빼내기 때문에
info.pop('location') # location 정보가 사라짐
print(info)

KeyError: 'location'

In [24]:
print(info.get('name'))
print(info['name'])

chio
chio

In [28]:
print(info.get('birth')) # 밑에꺼와 비교

None

In [30]:
print(info['birth']) # 실행 조차 안됨

KeyError: 'birth'

In [50]:
# 연습문제
blood_type = ['A', 'B', 'B', 'O', 'AB', 'A', 'B', 'O','AB']
# A형이랑 B형이 몇명인지 알고싶을떄
# {'A': n, 'B': n} 이런식으로 나오게 하기


result = {
    'A': 0,
    'B': 0,
    'O': 0,
    'AB': 0,
}

for blood in blood_type:
    result[blood] += 1 # result['A']
print(result)

{'A': 2, 'B': 3, 'O': 2, 'AB': 2}

In [53]:
# 위에 처럼 A B O AB 키값이 정해지지 않고 알지 못할때
locations = ['서울', '대전', '청주', '부산', '광주', '강릉', '뉴욕', '서울']

result = {}

# for location in locations:
#     if location이 result key 목록에 있으면?:
#         기존데이터에 + 1
#     else: 목록에 없다면
#           새로운 키를 등록하고 기본값을 1로 지정

for location in locations:
    if location in result.keys():  # result.get(location)도 같은 코드
        result[location] += 1
    else:
        result[location] = 1
print(result)

{'서울': 2, '대전': 1, '청주': 1, '부산': 1, '광주': 1, '강릉': 1, '뉴욕': 1}

## dict comprehension

In [56]:
# {1:1, 2: 8, 3: 27, ... , 10: 1000}

result = {}
numbers = range(1,11)

for number in numbers:
    result[number] = number ** 3 # result에 number라는 key를 저장하고 number값에 number ** 3 이라는 value값을 저장

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [60]:
result = {number: number ** 3 for number in range(1, 11) } # k: v 값을 왼쪽에 저장
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [61]:
# 미세먼지가 50 미만인 지역 고르기
dust = {
    '서울': 50,
    '인천': 100,
    '수원': 30,
    '부산': 0,
    
}

In [68]:
# for문 이용

result = {}
for key, value in dust.items(): # item = key, value
    ## key, value = ('서울', 50)
    ## item = ('서울', 50)
    if value <= 30:
        result[key] = value
print(result)

{'수원': 30, '부산': 0}

In [71]:
# 2. comp
result = {k: '매우 좋음' for k, v in dust.items() if v <= 30}
print(result)

{'수원': '매우 좋음', '부산': '매우 좋음'}

## set 메소드

In [73]:
fruits = {'apple', 'banana', 'melon'}

In [75]:
print(fruits) # 순서가 없기 때문에 랜덤으로 나옴

{'melon', 'banana', 'apple'}

In [80]:
fruits.add('watermelon') # 단일 데이터를 추가할때
print(fruits)

{'orange', 'melon', 'peach', 'watermelon', 'banana', 'apple'}

In [79]:
fruits.update({'orange', 'peach'}) # 여러개의 데이터를 추가할떄
print(fruits)

{'orange', 'melon', 'peach', 'watermelon', 'banana', 'apple'}

In [81]:
fruits.remove('apple') # apple 지우기
print(fruits)

{'orange', 'melon', 'peach', 'watermelon', 'banana'}

In [83]:
fruits.pop() # set은 순서가 없기 때문에 랜덤으로 지워짐
print(fruits)

{'peach', 'watermelon', 'banana'}

## map, filter, zip

### map
- map(function, iterable)
   - iterable = > 시퀀스타입

In [88]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# = > ['1', '2', '3'...'10'] 숫자를 글자로 바꾸고 싶을 때 int > str

result = []
for number in numbers:
    result.append(str(number))

print(result)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [93]:
result = map(str, numbers) # numbers라는 배열을 돌면서 str로 하나하나 바꿔줘
print(result) # map은 처음에 임시적으로 저장함
print(list(result)) # 결과값을 보려면  list로 변경해서 봐야함
# list(result)를 하기보다는 일반적으로 result = list(map(str, numbers)) 이런식으로 한번에 계산하게 함

<map object at 0x0000016B55208C40>
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [95]:
numbers = [1, 2, 3, 4, 5]
# = > [1, 8, 27, 64, 125]
result = []
for number in numbers:
    result.append(number ** 3)

print(result)

[1, 8, 27, 64, 125]

In [97]:
# map을 쓰기위해서 함수를 만들어줘야함
def cube(x):
    return x ** 3

In [103]:
result = map(cube, numbers)
print(result)

print(list(result))

<map object at 0x0000016B55201F90>
[1, 8, 27, 64, 125]

In [105]:
test_input = '1 3 5 7 9'
# 숫자로 바꿔보기
# 1. 띄어쓰기 기준으로 나눈다
test_input.split() # > ['1', '3', '5', '7','9']
# 2. 각 글자를 숫자로 바꾼다
map(int, test_input.split())
# 3. 리스트에 저장한다
result = list(map(int, test_input.split()))

print(result)

[1, 3, 5, 7, 9]

### filter
- filter(function, iterable)

In [109]:
numbers = [1, 2, 3, 4, 5, 6]

result = []
for number in numbers:
    if number % 2 == 1:
        result.append(number)
print(result)

[1, 3, 5]

In [110]:
def is_odd(x):
    return x % 2

In [112]:
result = filter(is_odd, numbers) # 내가 원하는대로 filtering을 하려면 그 안에 t, f 가 나오는 함수를 넣어야 함 
print(result)
print(list(result))

<filter object at 0x0000016B551FA320>
[1, 3, 5]

### zip

In [117]:
a = [1, 2, 3]
b = [100, 200, 300, 400] # 400은 갯수가 안맞아서 떨어지게 됨
c = ['a', 'b', 'c']
result = zip(a, b)
print(result)
print(list(result))

# 서로 다른 데이터를 비교할 떄 사용

<zip object at 0x0000016B557AE0C0>
[(1, 100), (2, 200), (3, 300)]