# 2025.02.14
### 함수 ~ 문제풀이 까지

###### for문 : 내가 원하는 횟수만큼 반복하고 싶을 때 
###### while문 : 내가 원하는 조건을 만족할때까지 반복

##### while문의 break, continue
 - break : 중간에 빠져나오는 명령어
 - continue : 맨 처음 부분으로 돌아가는 명령어

In [29]:
# 예시
num = 0

while True:
    if num >= 6:
        break  # 숫자가 6이상이 되면 while문 종료
    num += 1
    if num % 2 == 0:
        continue  # 숫자가 짝수이면 print를 실행하지 못하고, while 문의 맨 위로 올라가게 됨
    print('숫자를 셉니다!', num)

숫자를 셉니다! 1
숫자를 셉니다! 3
숫자를 셉니다! 5

In [ ]:
# 내가 만들어 본 예시
# 혁규의 가장 좋아하는 팀 물어보기
while True:
    team = input('데프트가 소속했던 팀 중에 가장 좋아하는 팀이 어딘가요?\n'  
    '1. kingzone\n'
    '2. kt\n'
    '3. drx\n'
    '4. hle\n'   # \n으로 한 줄 띄어쓰기
    '5. dk\n'
    '숫자로 입력해주세요')

    if team == '1':
        print('전성기였다고 생각합니다')
    elif team == '2':
        print('낭만 넘치다고 생각합니다.')
    
    elif team == '3':
        print('낭만 넘치다고 생각합니다.')    
   
    elif team == '4':
        print('낭만 넘치다고 생각합니다.')   
     
    elif team == '5':
        print('낭만 넘치다고 생각합니다.')   

    elif team >= '6': 
        print('군대갔어요')
    
        break 
                

    else:
          continue #(0이나 음수의 숫자를 입력한다면 다시 물어보기)

데프트가 소속했던 팀 중에 가장 좋아하는 팀이 어딘가요?
1. kingzone
2. kt
3. drx
4. hle
5. dk
숫자로 입력해주세요 0
데프트가 소속했던 팀 중에 가장 좋아하는 팀이 어딘가요?
1. kingzone
2. kt
3. drx
4. hle
5. dk
숫자로 입력해주세요

낭만 넘치다고 생각합니다.

데프트가 소속했던 팀 중에 가장 좋아하는 팀이 어딘가요?
1. kingzone
2. kt
3. drx
4. hle
5. dk
숫자로 입력해주세요 6

군대갔어요

#### for문의 기본형
- `for i in range(10):
-

In [31]:
# 예시
cnt = 0
sum = 0

list_a = [1, 3, 5]
# i가 1, 3, 5로 바뀌면서 실행
for i in list_a:
    cnt += 1
    sum += i

print(cnt) # 3 [0]=1 [1]=3
print(sum) # 1 + 3 + 5 = 9

cnt = 0
sum = 0

dict_a = {'a': 1, 'b': 2}
# dict_a의 value들의 모임인 1, 2에 대해서 수행
for val in dict_a.values():
    cnt += val
    sum += val

print(cnt) # 2 + 1
print(sum) # 1 + 2 = 3

3
9
3
3

In [33]:
# 구구단 예시
for i in range(2, 10): # i = 2, j = 2~9까지 반복 > 종료 > i =3, j = 2~9까지 반복
    for j in range(2, 10):
        print(i, 'x', j, '=', i * j)
    print('-' * 10) # i가 2부터 9까지 반복하여 끝났다면 출력

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------

In [36]:
# 예제 - 리스트의 합 구하기
numbers = [1, 2, 3, 4, 5]
total = 0

for number in numbers: # 1~5까지 반복
    total += number

print(total)
# 출처: https://jworld22.tistory.com/6 [정책 일상 정보 톡톡:티스토리]

15

In [38]:
fruits = ['apple', 'banana', 'cherry', 'banana', 'apple']
target = 'banana'

for i in range(len(fruits)): # len은 길이를 의미 
    if fruits[i] == target: # [] 인덱스 번호를 의미
        print(f'{target} is at index {i}')

banana is at index 1
banana is at index 3

#### return의 정의
``` python
 def f2(x):
...     a = 3
...     b = 5
...     y = a * x + b
...     print(y)           # y 값을 출력한다
...
>>> d = f2(10)             # d = ?
35
>>> print(d)
None # d에게 값을 반환하지는 않음. d를 프린트해 보면 아무 값이 없다는 뜻임
```
        #### return은 함수가 값을 반환한다는 것을 의미.

###### range 함수에 list가 안되는 이유
- 우선 range()에는 정수밖에 들어오지 못함
- 만약 리스트의 길이를 참고하고 싶다면 list=[1, 2, 3] 라면 range(len(list))를 한다.
- 그러면 range(3)으로 0, 1, 2가 반복하게 된다.

#### range함수로 거꾸로 세고 싶을 떄
range(1, 5, -1)은 빈 range를 반환해.
음수 step을 사용하여 거꾸로 세려면 시작 숫자가 끝 숫자보다 커야 해. 예를 들어, 5부터 1까지 거꾸로 세려면:

python
복사
편집
print(list(range(5, 0, -1)))  # [5, 4, 3, 2, 1]
여기서 range(5, 0, -1)은 5부터 시작해서 0보다 큰 수들(1까지)을 반환해.
따라서 range(1, 5, -1)은 시작 값 1이 끝 값 5보다 작기 때문에, 거꾸로 카운트할 수 없어.

 slicing
- var_name[index1:index2] index1번~index2번까지
- step
- print(my_list[:]) print(my_list[::2]) # : =step 2칸씩 띄어서 출력

In [ ]:
# 1	def solution(num_list):
# 2	        
# 3	        answer = num_list[::-1]
# 4	    
# 5	        return answer
# 6	
# 7	
# 8	print(solution([1,2,3,4,5]))
# python tutor 돌려보기